# Nome do host local usado pelo Portless (https://<PORTLESS_APP_NAME>.localhost)
PORTLESS_APP_NAME=painel

# Porta exposta pelo container em produção/Docker (host:APP_PORT -> container:80)
APP_PORT=8080
